# Domains list
DOMAINS = [
    # 'codex.so'
]

# Telegram bot API Token
APITOKEN = ''

# Telegram Chat ID (obtain via https://api.telegram.org/bot<TOKEN>/getUpdates)
CHATID = 0

# Notify when cert expires in this period of time
DAYS_LIMIT_CERT = 31
DAYS_LIMIT_DOMAIN = 31 
